.buttonSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0 ;
}
.buttons {
  display: flex;
  gap: 1rem;
}
button {
  background: rgb(73, 69, 69);
  color: white;
  border: 1px lightslategray;
  border-radius: 3px;
  height: 2rem;
  cursor: pointer;
}
.offers {
  padding-top: 1.5rem;
  color: white;


}
.offers a {
  text-decoration: none;
  gap: 3rem;
  padding-left: 0.3rem;
  color: rgb(103, 205, 249);
}
